<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>cl.thinkit.trailStats</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>trailStats</string>
			</array>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NSHealthShareUsageDescription</key>
	<string>TrailStats necesita acceso a tus datos de HealthKit para analizar métricas avanzadas de carrera como la oscilación vertical y el tiempo de contacto con el suelo, y así ofrecerte un análisis de rendimiento más completo.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>TrailStats necesita permiso para guardar los resúmenes de tus entrenamientos, como la distancia, el tiempo y las rutas, en la app Salud. Esto te permite mantener un registro centralizado de toda tu actividad física y contribuye a los anillos de Actividad.</string>
</dict>
</plist>
