<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>cl.thinkit.trailStats</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>trailStats</string>
			</array>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NSHealthShareUsageDescription</key>
	<string>TrailStats needs access to your HealthKit data to analyze advanced running metrics like vertical oscillation and ground contact time, providing you with a more complete performance analysis.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>TrailStats needs permission to save your workout summaries, such as distance, time, and routes, to the Health app. This allows you to maintain a centralized record of all your physical activity and contributes to your Activity rings.</string>
</dict>
</plist>
